@CHARSET "ISO-8859-1";

body {
	font-family: sans-serif;
	text-align: center;
}

h1 {
	font-family: Old English Text MT, Algerian, Cooper Black;
	font-size: 35px;
	color: #FFFF99;
}

table {
	margin: 0px;
	padding: 0px;
	border-spacing: 0px;
}

td {
	padding: 0px;
	margin: 0px;
	width: 150px;
	height: 150px;
	font-size: 12px;
	border: 2px outset #FFFF99;
	text-align: center;
	background-color: #FF9;
	color: #00C;
}

td.clicked {
	background-color: #FFFF00;
	border: 2px outset #FFFF99;;
}

.tabela {
	width: 96%;
	height: 84% !important;
	border-color: black;
	text-align: center;
	border: 5px;
	margin: auto;
	margin-bottom: auto;
	margin-left: auto;
	margin-right: auto;
	margin-top: auto;
}

.casaInativa {
	width: 6%;
	height: 80px;
	background-color: silver;
	font: bold;
	font-size: 20px;
}

.casaEspecial {
	width: 6%;
	height: 80px;
	background-color: blue;
	font: bold;
	font-size: 20px;
}

.centro {
	border: 0px;
}